@model EPiServer.Reference.Commerce.Site.Features.Global.ProductRegistration.ViewModels.ProductRegistrationViewModel
<div class="container-fluid">
    <div class="row myPage">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)

        <div class="col-xs-12 col-md-9">
        </div>
    </div>
</div>
